@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@700&family=Inter:wght@400;700&display=swap');
/* *{
    outline: 1px solid lightblue;
} */
html, body{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    background-color: black;
    color: rgb(255, 255, 255);
}
a {
    text-decoration:none;
    color: white;
}
::-webkit-scrollbar {
    width: 0;
}

/* header + block1 */
.block1_container{
    height: 750px;
    background: url(../images/Ellipse\ 1.png), url(../images/Ellipse\ 2.png), url(../images/Ellipse\ 3.png), url(../images/bgB1.png);
    background-repeat: no-repeat, no-repeat, no-repeat, repeat;
    background-position: 80vw 200px, 5vw 190px, 50vw 600px, 0vw 0vh;
}
/* header + block1 end */

/* header */
.header nav{
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-top: 20px;
    user-select: none;
}

.header nav a:hover {
    color:#0FF;
    transition-duration: 0.2s;
}
/* header end */

/* block 1 */
.block1{
    display: flex;
    margin-left: 11vw;
    margin-right: 11vw;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content h1{
    color: rgb(255, 255, 255);
    font-family: 'Inria Serif', serif;
    font-size: 64px;
    line-height: normal;
    text-shadow: 6px 0px 4px rgba(0, 255, 255, 0.15);
    transition: all 0.8s ease 0s;
}
.content span{
    color: #0FF;
}
.content h2{
    color: #787878;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    transition: all 0.8s ease 0s;
}
.line{
    height: 2px;
    width: 190px;
    background-color: #FFF;
    box-shadow: 0px 0px 20px #0FF;
}
.lineb1{
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.card{
    position: absolute;
    backdrop-filter: blur(1px);
    transition: all 0.8s ease 0s;
    transition: transform 0.3s;
}
.card:hover{
    transform: scale(1.1);
}
.art {
    display: flex;
    align-self: flex-start;
    position: relative;
    font-weight: bold;
    font-size: 128px;
    align-items: center;
    margin-right: 200px;
    height: 680px;
    user-select: none;
}
.art img {
    z-index: 1;
}
.pe1 {
    color: #002E2E;
}
.pe2 {
    color: #002E2E;
    opacity: 50%;
}
.pe3 {
    color: #002E2E;
    opacity: 30%;
}
.pe4 {
    color: #002E2E;
    opacity: 20%;
}
.art nav {
    display: flex;
    flex-direction: column;
    line-height: 150px;
}
/* block 1 end */

/* block 2 */
.block2_container{
    background: url(../images/bgB2.png) center no-repeat;
    background-attachment: fixed;
}
.block2{
    margin-top: 200px;
}
.title{
    display: flex;
    justify-content: center;
    color: #0FF;
    text-shadow: 6px 0px 4px rgba(0, 255, 255, 0.15);
    font-family: Inria Serif;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}
.title span{
    color: white;
}
.LoremAmet, .LoremAmet2{
    display: flex;
    gap: 100px;
}
.LoremAmet2{
    flex-direction: row-reverse;
}
.LoremAmet1__items{
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 50%;
    gap: 20px;
    justify-content: center;
}
.LoremAmet2__items{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    gap: 20px;
    justify-content: center;
}
.LoremAmet__text, .LoremAmet2__text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.LoremAmet__text h1, .LoremAmet2__text h1{
    font-size: 32px;
    font-weight: 500;
}
.LoremAmet__text h2, .LoremAmet2__text h2{
    color: #787878;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}
.LoremAmet__button, .LoremAmet2__button{
    color: #000;
    font-size: 20px;
    font-weight: 700;
    background: #0FF;
    width: 100px;
    height: 40px;
    border: none;
}
.LoremAmet input{
    place-self: flex-end;
}
.LoremAmet2 input{
    place-self: flex-start;
}
.LoremAmet input:hover, .LoremAmet2 input:hover{
    background-color:rgb(0, 102, 102);
    color: #FFF;
    transition-duration: 0.2s;
}
.LoremAmet input:active, .LoremAmet2 input:active{
    background-color:rgb(255, 255, 255);
    color: #000000;
    transition-duration: 0s;
}
.LoremAmet img, .LoremAmet2 img{
    width: 500px;
    height: 250px;
}
.LoremAmet__img, .LoremAmet2__img{
    transition: transform 0.3s;
}
.LoremAmet__img:hover, .LoremAmet2__img:hover{
    transform: scale(1.1);
}
.line1B2{
    margin: 0 auto;
    width: 3px;
    height: 100px;
    background: #00E0FF;
}
.line2B2{
    margin: 0 auto;
    width: 3px;
    height: 220px;
    background: #00E0FF;
}
/* block 2 end */

/* block 3 */
.block3{
    margin-top: 300px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 200px;
    min-height: 100%;
}
.block3__header{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 100px;
}
.block3__title{
    color: rgb(255, 255, 255);
    text-shadow: 6px 0px 4px rgba(0, 255, 255, 0.15);
    font-family: Inria Serif;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
}
.block3__title span{
    color: #0FF;
}
.block3__subtitle{
    color: #787878;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.splide__slide{
    text-align: center;
}
.splide__slide img{
    min-height: 100%;
}
/* block 3 end */

/* block4 */
.block4_container{
    background-color: #070707;
}
.block4{
    display: flex;
    margin-bottom: 200px;
    margin-right: 210px;
    justify-content: space-between;
}
.block4__itemR{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.block4__itemR-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.block4__itemR span{
    color: #0FF;
}
.block4__itemR input{
    margin-top: 15px;
    width: 150px;
    height: 60px;
    background: radial-gradient(132.75% 107.47% at 3.67% 7.5%, rgba(112, 0, 255, 0.20) 0%, rgba(0, 0, 0, 0.00) 98.96%), #0FF;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}
.block4__itemR input:hover{
    background-color:rgb(0, 102, 102);
    color: #FFF;
    transition-duration: 0.2s;
}
.block4__itemR input:active{
    background-color:rgb(255, 255, 255);
    color: #000000;
    transition-duration: 0s;
}
/* block4 end */

/* block5 */
.block5 {
    margin-left: 210px;
    margin-right: 210px;
    margin-bottom: 200px;
}
.block5__header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.block5__items{
    display: flex;
    margin-top: 150px;
    justify-content: space-between;
    height: 660px;
}
.block5__item1, .block5__item2, .block5__item3, .block5__item4{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.block5__item2, .block5__item4{
    flex-direction: column;
    justify-content: flex-end;
}
.block5__item1 p{
    padding-left: 20px;
}
.block5__item2{
    padding-bottom: 20px;
}
.block5__item3{
    padding-top: 20px;
}
.block5__item1, .block5__item2, .block5__item3, .block5__item4{
    transition: transform 0.3s;
}
.block5__item1:hover, .block5__item2:hover, .block5__item3:hover, .block5__item4:hover{
    transform: scale(1.1);
}
/* block 5 end */

/* footer */
.footer__container{
    background-color: #070707;
    height: 220px;
}
.footer{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 210px;
    margin-right: 210px;
}
.footer__items{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.footer__socity{
    display: flex;
    gap: 50px;
}
/* footer end */

@media (max-width: 1800px){
    .block1, .block3, .block5, .footer{
        margin-left: 6vw;
        margin-right: 6vw;
    }
    .art {
        margin-right: 6vw;
    }
    .art img {
        height: 20vw;
        min-height: 300px;
    }
    .art nav {
        line-height: 130px;
    }
    .block4{
        gap: 50px;
        margin-right: 6vw;
    }
    .block5__items{
        height: 500px;
    }
    .block5__items img{
        width: 250px;
        height: 400px;
    }
    .block5__item1 img, .block5__item4 img{
        width: 272px;
        height: 422px;
    }
}
@media (max-width: 1430px){
    .block1 h1, .title h1, .block3 h1, .block4 h1, .block5 h1{
        font-size: 50px;
    }
    .block1 h2, .LoremAmet h1, .LoremAmet2 h1{
        font-size: 25px;
    }
    .header, .LoremAmet h2, .LoremAmet2 h2, .block3 h2, .block4 h2, .block5 h2, .block5 p, .footer{
        font-size: 16px;
    }
    .line{
        width: 100px;
    }
    .block1, .block2, .block3, .block5, .footer{
        margin-left: 4vw;
        margin-right: 4vw;
    }
    .block4{
        margin-right: 4vw;
    }
    .block4__itemL img{
        width: 700px;
        height: 600px;
    }
}
@media (max-width: 1270px){
    .block1, .block2, .block3, .block5, .footer{
        margin-left: 3vw;
        margin-right: 3vw;
    }
    .block4{
        margin-right: 3vw;
    }
    .block4__itemL img{
        width: 500px;
        height: 600px;
    }
    .art {
        font-size: 120px;
        margin-right: 3vw;
    }
    .LoremAmet img, .LoremAmet2 img{
        width: 400px;
        height: 200px;
    }
    .block2_container{
        background-size: cover;
        background-position: top;
    }  
}
@media (max-width: 1110px) {
    .block5__items{
        height: 380px;
    }
    .block5__item1 p{
        padding-left: 12px;
    }
    .block5__items img{
        width: 180px;
        height: 280px;
    }
    .block5__item1 img, .block5__item4 img{
        width: 192px;
        height: 292px;
    }
    .block4__itemR-wrapper{
        text-align: center;
        align-items: center;
    }
    .LoremAmet, .LoremAmet2{
        flex-direction: column;
        text-align: center;
        gap: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .LoremAmet1__items, .LoremAmet2__items{
        text-align: center;
        width: 100%;
    }
    .LoremAmet input, .LoremAmet2 input{
        place-self: center;
    }
}
@media (max-width: 800px){
    .block1{
        flex-direction: column;
    }
    .content{
        margin-top: 100px;
        text-align: center;
        align-items: center;
    }
    .block1 nav{
        display: none;
    }
    .art{
        width: 397.42px;
        margin: 0 auto;
    }
    .art img{
        margin: 0 auto;
    }
    .block4{
        flex-direction: column;
        margin-right: 0;
        gap: 0;
    }
    .block4__itemL img{
        width: 100%;
    }
    .block4__itemR{
        height: 400px;
    }
    .block5__items{
        height: auto;
        flex-wrap: wrap;
    }
    .block5__items{
        height: 350px;
    }
    .block5__items img{
        width: 150px;
        height: 250px;
    }
    .block5__item1 img, .block5__item4 img{
        width: 162px;
        height: 262px;
    }
}
@media(max-width: 663px){
    .block5__items{
        height: 700px;
    }
    .block5__item4{
        margin: 0 auto;
        padding-left: 22px;
    }
}
@media (max-width: 500px){
    /* шрифты */
    .block1 h1, .title h1, .block3 h1, .block4 h1, .block5 h1{
        font-size: 32px;
    }
    .block1 h2, .LoremAmet h1, .LoremAmet2 h1{
        font-size: 16px;
    }
    .header, .LoremAmet h2, .LoremAmet2 h2, .block3 h2, .block4 h2, .block5 h2, .block5 p, .footer{
        font-size: 14px;
    }
    /* отступы между блоками */
    .block3{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .block4{
        margin-bottom: 50px;
    }
    .block5{
        margin-bottom: 50px;
    }
    /* блок 1 */
    .header nav{
        gap: 40px;
        padding-top: 40px;
    }
    .block1_container{
        background-size: 50px 50px, 60px 60px, 70px 70px, 100% 100%;
        background-position: 8vw 400px, 80vw 90px, 60vw 600px, 0;
    }
    .block1 {
        justify-content: flex-start;
        height: 690px;
    }
    .art img{
        position: static;
        width: 80vw;
        height: 60vw;
        max-width: 500px;
        min-height: 200px;
    }
    .art{
        display: flex;
        justify-content: center;
        width: 250px;
        margin: 0 auto;
        height: 350px;
    }
    /* блок 2 */
    .block2{
        margin-top: 50px;
    }
    .LoremAmet, .LoremAmet2{
        flex-direction: column-reverse;
    }
    .LoremAmet1__items{
        text-align: start;
    }
    .LoremAmet2__items{
        text-align: end;
    }
    .LoremAmet img, .LoremAmet2 img{
        width: 270px;
        height: 150px;
    }
    .LoremAmet__button, .LoremAmet2__button{
        font-size: 16px;
        width: 80px;
        height: 40px;
        border-radius: 0px;
    }
    .LoremAmet input:hover, .LoremAmet2 input:hover{
        pointer-events: none;
    }
    .block2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .LoremAmet, .LoremAmet2 {
        width: 270px;
    }

    .LoremAmet1__items {
        display: flex;

    }
    .LoremAmet input{
        place-self: flex-start;
    }
    .LoremAmet2 input{
        place-self: flex-end;
    }
    .line1B2{
        height: 50px;
    }
    .line2B2{
        height: 80px;
    }
    /* блок 3 */
    .block3__header{
        text-align: center;
        margin-bottom: 50px;
    }
    .splide__slide img{
        height: 280px;
        width: 200px;
    }
    /* блок 4 */
    .block4__itemL img{
        height: 250px;
    }
    .block4__itemR input{
       border-radius: 0px;
    }
    .block4__itemR input:hover{
        pointer-events: none;
    }
    .block4__itemR{
        height: 310px;
    }
    /* блок 5 */
    .block5__items{
        height: 850px;
        margin-top: 50px;
    }
    .block5__item1, .block5__item2, .block5__item3, .block5__item4{
        gap: 10px;
    }
    .block5__item2{
        padding-right: 12px;
        padding-bottom: 0px;
        text-align: end;
    }
    .block5__item3{
        padding-top: 0px;
        padding-left: 12px;
    }
    .block5__item4{
        margin: 0;
        padding-left: 0;
    }
    .block5__item4 p{
        text-align: end;
        padding-right: 12px;
    }
    /* футер */
    .footer__container{
        height: 100px;
    }
    .footer__socity img{
        width: 20px;
        height: 20px;
    }
    .footer__socity{
        gap: 10px;
    }
}
@media (max-width: 344px){
    .LoremAmet input:hover, .LoremAmet2 input:hover{
        color: #000;
        background: #0FF;
        border: none;
    }
    .block2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .LoremAmet, .LoremAmet2 {
        width: 270px;
    }
    .LoremAmet1__items {
        display: flex;
        justify-content: end;
    }
    .block5__items{
        height: 600px;
    }
    .block5__items img{
        width: 115px;
        height: 180px;
    }
    .block5__item1 img, .block5__item4 img{
        width: 127px;
        height: 192px;
    }
}