@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@700&family=Inter:wght@400;700&display=swap');

body{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    background-color: black;
    color: rgb(255, 255, 255);
}
a {
    text-decoration:none;
    color: white;
}
::-webkit-scrollbar {
    width: 0;
}

/* header + block1 */
.block1_container{
    height: 750px;
    background: url(../images/Ellipse\ 1.png), url(../images/Ellipse\ 2.png), url(../images/Ellipse\ 3.png), url(../images/bgB1.png);
    background-repeat: no-repeat, no-repeat, no-repeat, repeat;
    background-position: 80vw 200px, 5vw 190px, 50vw 600px, 0vw 0vh;
}
/* header + block1 end */

/* header */
.header nav{
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-top: 20px;
    user-select: none;
}

.header nav a:hover {
    color: grey;
    transition-duration: 0.2s;
}
/* header end */

/* block 1 */
.block1{
    display: flex;
    margin-left: 11vw;
    margin-right: 11vw;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content h1{
    color: rgb(255, 255, 255);
    font-family: 'Inria Serif', serif;
    font-size: 64px;
    line-height: normal;
    text-shadow: 6px 0px 4px rgba(0, 255, 255, 0.15);
}
.content span{
    color: #0FF;
}
.content h2{
    color: #787878;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
}
.line{
    height: 2px;
    width: 190px;
    background-color: #FFF;
    box-shadow: 0px 0px 20px #0FF;
}
.card{
    position: absolute;
    backdrop-filter: blur(1px);
}
.art {
    display: flex;
    align-self: flex-start;
    position: relative;
    font-weight: bold;
    font-size: 128px;
    align-items: center;
    margin-right: 200px;
    height: 680px;
    user-select: none;
}
.art img {
    z-index: 1;
}
.pe1 {
    color: #002E2E;
}
.pe2 {
    color: #002E2E;
    opacity: 50%;
}
.pe3 {
    color: #002E2E;
    opacity: 30%;
}
.pe4 {
    color: #002E2E;
    opacity: 20%;
}
.art nav {
    display: flex;
    flex-direction: column;
    line-height: 150px;
}
/* block 1 end */

/* block 2 */
.block2_container{
    background: url(../images/bgB2.png) center no-repeat;
}
.block2{
    margin-top: 200px;
}
.title{
    display: flex;
    justify-content: center;
    color: #0FF;
    text-shadow: 6px 0px 4px rgba(0, 255, 255, 0.15);
    font-family: Inria Serif;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
}
.title span{
    color: white;
}
.LoremAmet, .LoremAmet2{
    display: flex;
    gap: 100px;
}
.LoremAmet2{
    flex-direction: row-reverse;
}
.LoremAmet1__items{
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 50%;
    gap: 20px;
    justify-content: center;
}
.LoremAmet2__items{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    gap: 20px;
    justify-content: center;
}
.LoremAmet__text, .LoremAmet2__text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.LoremAmet__text h1, .LoremAmet2__text h1{
    font-size: 32px;
    font-weight: 500;
}
.LoremAmet__text h2, .LoremAmet2__text h2{
    color: #787878;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}
.LoremAmet__button, .LoremAmet2__button{
    color: #000;
    font-size: 20px;
    font-weight: 700;
    background: #0FF;
    width: 100px;
    height: 40px;
    border: none;
}
.LoremAmet input{
    place-self: flex-end;
}
.LoremAmet2 input{
    place-self: flex-start;
}
.LoremAmet img,.LoremAmet2 img{
    width: 500px;
    height: 250px;
}
.line1B2{
    margin: 0 auto;
    width: 3px;
    height: 100px;
    background: #00E0FF;
}
.line2B2{
    margin: 0 auto;
    width: 3px;
    height: 220px;
    background: #00E0FF;
}
/* block 2 end */

/* block 3 */
.block3{
    margin-top: 300px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 200px;
    min-height: 100%;
}
.block3__header{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 100px;
}
.block3__title{
    color: rgb(255, 255, 255);
    text-shadow: 6px 0px 4px rgba(0, 255, 255, 0.15);
    font-family: Inria Serif;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
}
.block3__title span{
    color: #0FF;
}
.block3__subtitle{
    color: #787878;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.splide__slide{
    text-align: center;
}
.splide__slide img{
    min-height: 100%;
}
/* block 3 end */

/* block4 */
.block4_container{
    background-color: #070707;
}
.block4{
    display: flex;
    margin-bottom: 200px;
    margin-right: 210px;
    justify-content: space-between;
}
.block4__itemR{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.block4__itemR span{
    color: #0FF;
}
.block4__itemR input{
    margin-top: 15px;
    width: 150px;
    height: 60px;
    background: radial-gradient(132.75% 107.47% at 3.67% 7.5%, rgba(112, 0, 255, 0.20) 0%, rgba(0, 0, 0, 0.00) 98.96%), #0FF;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}
/* block4 end */

/* block5 */
.block5 {
    margin-left: 210px;
    margin-right: 210px;
    margin-bottom: 200px;
}
.block5__header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.block5__items{
    display: flex;
    margin-top: 150px;
    justify-content: space-between;
    height: 660px;
    flex-wrap: wrap;
}
.block5__item1, .block5__item2, .block5__item3, .block5__item4{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.block5__item2, .block5__item4{
    flex-direction: column;
    justify-content: flex-end;
}
.block5__item1 p{
    padding-left: 20px;
}
.block5__item2{
    padding-bottom: 20px;
}
.block5__item3{
    padding-top: 20px;
}
/* block 5 end */

/* footer */
.footer__container{
    background-color: #070707;
    height: 220px;
}
.footer{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 210px;
    margin-right: 210px;
}
.footer__items{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.footer__socity{
    display: flex;
    gap: 50px;
}
/* footer end */

@media (max-width: 1800px){
    .art{
        margin-right: 6vw;
    }
    .block5__items{
        height: 500px;
    }
    .b5img{
        width: 250px;
        height: 400px;
    }
    .block4{
        gap: 50px;
    }
    .content h1{
        color: rgb(255, 255, 255);
        font-family: 'Inria Serif', serif;
        font-size: 50px;
        line-height: normal;
        text-shadow: 6px 0px 4px rgba(0, 255, 255, 0.15);
    }
    .content span{
        color: #0FF;
    }
    .content h2{
        color: #787878;
        font-size: 28px;
        font-weight: 400;
        line-height: normal;
    }
    .art {
        display: flex;
        align-self: center;
        position: relative;
        font-weight: bold;
        font-size: 120px;
        align-items: center;
        margin-right: 7vw;
        height: 500px;
        user-select: none;
    }
    .art img {
        height: 20vw;
        min-height: 300px;
    }
    .art nav {
        display: flex;
        line-height: 130px;
    }
    .block1{
        display: flex;
        margin-left: 7vw;
        margin-right: 7vw;
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }
}
@media (max-width: 1430px){
    .block3,.block5, .footer{
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .block4{
        margin-right: 5vw;
    }
    .block4__itemL img{
        width: 500px;
        height: 600px;
    }
}
@media (max-width: 1270px){
    .LoremAmet img, .LoremAmet2 img{
        width: 400px;
        height: 200px;
    }
    .art {
        display: flex;
        align-self: center;
        position: relative;
        font-weight: bold;
        font-size: 120px;
        align-items: center;
        margin-right: 3vw;
        height: 500px;
        user-select: none;
    }
    .block1{
        display: flex;
        margin-left: 5vw;
        margin-right: 3vw;
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .block2_container{
        background-position: top;
    }  
}
@media (max-width: 1090px) {
    .block5__items{
        display: flex;
        margin-top: 100px;
        justify-content: space-around;
        height: 1200px;
        flex-wrap: wrap;
    }
    .block5__item1, .block5__item2, .block5__item3, .block5__item4{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .block5__item2, .block5__item4{
        flex-direction: column;
        justify-content: flex-end;
    }
    .block5__item1 p{
        padding-left: 20px;
    }
    .block5__item2{
        padding-bottom: 20px;
    }
    .block5__item3{
        padding-top: 20px;
    }
}